:root {
  --black: rgba(20, 20, 20, 1);
  --dark-green: rgba(30, 40, 39, 1);
  --white: rgba(255, 255, 255, 1);
}

body {
  font-family: 'Epilogue', sans-serif;
  color: var(--dark-green); 
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) { 
  .container {
    width: 1240px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index {
  color: green;
  background-color: lightgreen;
} /* FIXME: delete at the end */