/* Header Section: TODO: Tanase Ion-Claudiu */

header {
  background-color: #141414;
  width: 100%;

}

.header-bar {
  width: 375px;
  padding: 29px 20px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-full {
  display: flex;
  gap: 4px;
  align-items: center;
}
.logo-svg {
  width: 14px;
  height: 14px;
  fill: #fff;
}

.logo-text {
  width: 80px;
  height: 10px;
  font-family: "Epilogue";
  font-size: 12px;
  font-weight: 400;
  line-height: 12.3px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #FFFFFF;

}

.open-menu, 
.close-menu {
  cursor: pointer
}

.menu-list, 
.address {
  display: none
}


@media (min-width: 768px) {
  .header-bar {
    width: 768px;
    padding: 20px 32px;
  }

  .open-menu, .modal-backdrop {
    display: none
  }

  .menu-list {
    display: flex;
    gap: 40px;
    margin-left: 80px;
    margin-right: auto;
    color: #fff;
  }

  .menu-link {
    font-family: Epilogue;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
  }

  .address {
    display: initial;
    padding: 18px 36px;
    background-color: #1E2827;
    border-radius: 8px;
  }
  
  .address-phone {
    display: initial;
    font-family: Epilogue;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #fff;
  }
}



@media (min-width: 1280px) {
  .header-bar {
    width: 1280px;
    padding: 20px 52px;
    padding-bottom: 0px;
  }

  .logo-svg {
    width: 19px;
    height: 19px;
  }

  .logo-text {
    font-size: 15px;
  }

}

/* Header Section: TODO: Tanase Ion-Claudiu */