/* Section 1 (About us): TODO: Roxana Iliasi */


@media screen and (max-width: 767px) {
  .section {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  
  .about-paragraf-1 {
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #141414;
  }

  .about-paragraf-2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #141414;
  }

  .about-gif {
    display: block;
    max-width: 100%;
    height: auto;
    width: 335px;
    height: 365px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .about-wrap {
    display: flex;
  }

  .about-title {
    font-size: 40px;
    margin-top: 0;
    margin-right: 110px;
  }

  .about-paragraf-1 {
    width: auto;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #141414;
  }

  .about-paragraf-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #141414;
  }

  .about-gif {
    display: block;
    max-width: 100%;
    height: auto;
    width: 704px;
    height: 465px;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding-top: 64px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-gif {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding-top: 64px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    max-width: 768px;
  }
  .about-wrap {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    max-width: 1240px;
  }
  .about-wrap {
    display: flex;
  }
  /* .about-title {
    width: 284px;
  } */

  .about-paragraf-1 {
    width: 439px;
    margin-right: 40px;
  }

  .about-paragraf-2 {
    width: 380px;
    margin-right: 33px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .about-gif {
    max-width: 100%;
    height: auto;
    width: 892px;
    height: 500px;
    margin-right: 0;
  }
}

