.catalog{
  padding: 69px 0 40px;
}
@media(min-width: 768px){
   .catalog{padding: 80px 0 64px;
  }
}
@media (min-width: 1280px){
  .catalog{
    padding: 80px 0;
  }
}
@media (min-width:768px ){
  .catalog-container{
    display: flex;
    flex-wrap: wrap
  }
}
@media (min-width:1280px ){
  .catalog-container{
    display: flex;
      flex-wrap: wrap
  }
}

.catalog-header{

    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em; 
}

@media(min-width:768px){
  .catalog-header{
    font-size: 40px;
    line-height: 44px;
  }
}

@media (min-width:1280px){
  .catalog-header{
    font-size: 40px;
      line-height: 44px;
      
  }
}

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  margin-top: 40px;
}

@media (min-width:768px){
  .catalog-list{
    display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 32px;
  }
}
@media(min-width:1280px){
  .catalog-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 32px;
    }
}

.catalog-item{
  width: 335px;
  height: 410px;
}
@media (min-width:768px) {
  .catalog-item {
      width: 336px;
      height: 410px;
      width:calc((100% - 32px) / 2 );
    }
}
 
@media(min-width:1280px) {
  .catalog-item {
      width: 276px;
      height: 375px;
      width:calc((100% - 32px) / 4);
    }
}

.catalog-item-img{
  Width: 335px ;
  Height: 360px;
  padding: 43px 30px 43px 30px ;
}

@media (min-width:768px){
  .catalog-item-img {
      Width: 336px;
      Height: 360px;
      padding: 43px 30px 43px 30px;
}
}
@media(min-width:1280px) {
.catalog-item-img {
    Width: 276px;
    Height: 325px;
    padding: 43px 30px 43px 30px;
  }
}

.catalog-item-wrapper {
  position: relative;
}

.favorite-button {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(255, 253, 253);
  border-radius: 100%;
  padding: 5px;
  border: 2px solid rgba(246, 242, 242, 0);
}
.favorite-button:hover {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.favorite-button svg {
  fill: rgba(248, 245, 245, 0);
  stroke: rgb(93, 92, 92);
}

.catalog-subtitle{
  width: 276px;
    height: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(20, 20, 20, 1);
    white-space: nowrap;
}
.catalog-item-text{
  width: 27px;
 height: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
   color: rgba(20, 20, 20, 0.5);
}

@media (min-width:768px){
.catalog-subtitle {
    width: 276px;
    height: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(20, 20, 20, 1);
    white-space: nowrap;
  }

  .catalog-item-text {
    width: 27px;
    height: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(20, 20, 20, 0.5);
  }
}

.order{
  width: 108px;
    height: 42px;
    padding:0;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;
    background-color: rgba(30, 40, 39, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    align-self: flex-end;
    margin-left:227px;
}