<!-- Hero Section: TODO: Diana Martina -->

<section class="section hero-section">
  <div class="hero-container container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>

    <div class="hero-carousel swiper mySwiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide"><img srcset="./images/2_hero/watch-img-1.png, ./images/2_hero/watch-img-1@2x.png 2x"
            src="./images/2_hero/watch-img-1.png" width="348" height="233" alt="Watch image"></li>
        <li class="swiper-slide"><img srcset="./images/2_hero/watch-img-2.png, ./images/2_hero/watch-img-2@2x.png 2x"
            src="./images/2_hero/watch-img-2.png" width="348" height="233" alt="Watch image"></li>
        <li class="swiper-slide"><img srcset="./images/2_hero/watch-img-3.png, ./images/2_hero/watch-img-3@2x.png 2x"
            src="./images/2_hero/watch-img-3.png" width="348" height="233" alt="Watch image"></li>
        <li class="swiper-slide"><img srcset="./images/2_hero/watch-img-4.png, ./images/2_hero/watch-img-4@2x.png 2x"
            src="./images/2_hero/watch-img-4.png" width="348" height="233" alt="Watch image"></li>
        <li class="swiper-slide"><img srcset="./images/2_hero/watch-img-5.png, ./images/2_hero/watch-img-5@2x.png 2x"
            src="./images/2_hero/watch-img-4.png" width="348" height="233" alt="Watch image"></li>
      </ul>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Navigation buttons -->
      <div class="swiper-button-prev">
        <svg width="6" height="12" class="carousel-arrow carousel-left-arrow-icon">
          <use href="./images/icons.svg#icon-carousel_left-arrow" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="6" height="12" class="carousel-arrow carousel-right-arrow-icon">
          <use href="./images/icons.svg#icon-carousel_right-arrow" />
        </svg>
      </div>
    </div>

    <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle.
      From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>

    <div class="hero-img">
      <img srcset="./images/2_hero/watch-on-hand-img.jpg, ./images/2_hero/watch-on-hand-img@2x.jpg 2x"
        src="./images/2_hero/watch-on-hand-img.jpg" alt="Watch on a man's hand image" width="704" height="410">
    </div>
  </div>
</section>