<!-- Section 2 (Catalog): TODO: Anca Gheorghe (main section) and Cristei Mihai Viorel (overflow + modala) -->

<section class="catalog">
  <div class="container">
    <h2 class="catalog-header">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-1.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-item-text">€395</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-2.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">Avondale Watch Police For Men</h3>
          <p class="catalog-item-text">€800</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-3.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="catalog-item-text">€600</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-4.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">
            Diver 300M Co-Axial Master Chronometer
          </h3>
          <p class="catalog-item-text">€1400</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-5.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">Taman Watch By Police For Men</h3>
          <p class="catalog-item-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-item-wrapper">
          <img
            class="catalog-item-img"
            src="./images/4_section2/catalog-watch-6.jpg"
            alt="watch"
            width="276"
          />
          <button class="favorite-button">
            <svg class="favorite-icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-catalogue_favorite"></use>
            </svg>
          </button>
        </div>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">Malawi Watch Police For Men</h3>
          <p class="catalog-item-text">€555</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-item-wrapper">
          <img
            class="catalog-item-img"
            src="./images/4_section2/catalog-watch-7.jpg"
            alt="watch"
            width="276"
          />
          <button class="favorite-button">
            <svg class="favorite-icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-catalogue_favorite"></use>
            </svg>
          </button>
        </div>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">
            Diver 300M Co-Axial Master Chronometer
          </h3>
          <p class="catalog-item-text">€1200</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-8.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">Greenlane Watch By Police For Men</h3>
          <p class="catalog-item-text">€1000</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-9.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">Squardrc 5402 Chrono</h3>
          <p class="catalog-item-text">€359</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-10.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="catalog-item-text">€400</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-11.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">Citizen</h3>
          <p class="catalog-item-text">€519</p>
        </div>
      </li>
      <li class="catalog-item">
        <img
          class="catalog-item-img"
          src="./images/4_section2/catalog-watch-12.jpg"
          alt="watch"
          width="276"
        />
        <button class="favorite-button">
          <svg class="favorite-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-catalogue_favorite"></use>
          </svg>
        </button>
        <div class="catalog-item-desc">
          <h3 class="catalog-subtitle">Armani Exchange</h3>
          <p class="catalog-item-text">€400</p>
        </div>
      </li>
    </ul>
    <button class="order" type="button">Buy Now</button>
  </div>
</section>
