<!-- Section 2 (Catalog): TODO: Anca Gheorghe (main section) and Cristei Mihai Viorel (overflow + modala) -->

<section class="main_catalog_section-container">
  <div class="main_catalog_container">
    <h2 class="main_catalog_title">Catalog</h2>
    <ul class="main_catalog_list-container">

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">

          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-1.jpg" alt="catalog-watch-1" class="main_catalog_list_image">
          </div>

          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>

        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Tube Watch S42 Date Steel With Black...</h3>
          <p class="main_catalog_item_description">€395</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-2.jpg" alt="catalog-watch-2" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Avondale Watch Police For Men</h3>
          <p class="main_catalog_item_description">€800</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-3.jpg" alt="catalog-watch-3" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Diver 300M Co‑Axial Master Chronometer..</h3>
          <p class="main_catalog_item_description">€600</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-4.jpg" alt="catalog-watch-4" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="main_catalog_item_description">€1400</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-5.jpg" alt="catalog-watch-5" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Taman Watch By Police For Men</h3>
          <p class="main_catalog_item_description">€500</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-6.jpg" alt="catalog-watch-6" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Malawi Watch Police For Men</h3>
          <p class="main_catalog_item_description">€555</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-7.jpg" alt="catalog-watch-7" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="main_catalog_item_description">€1200</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-8.jpg" alt="catalog-watch-8" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Greenlane Watch By Police For Men</h3>
          <p class="main_catalog_item_description">€1000</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-9.jpg" alt="catalog-watch-9" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Tube Watch S42 Date Steel With Black...</h3>
          <p class="main_catalog_item_description">€395</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-10.jpg" alt="catalog-watch-10" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Tube Watch S42 Date Steel With Black...</h3>
          <p class="main_catalog_item_description">€395</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-11.jpg" alt="catalog-watch-11" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Tube Watch S42 Date Steel With Black...</h3>
          <p class="main_catalog_item_description">€395</p>
        </div>
      </li>

      <li class="main_catalog_list_element">
        <div class="main_catalog_item_image_container">
      
          <div class="main_catalog_image_container">
            <img src="./images/4_section2/catalog-watch-12.jpg" alt="catalog-watch-12" class="main_catalog_list_image">
          </div>
      
          <div class="main_catalog_image-overlay_container">
            <div class="main_catalog_overlay_container-1">
              <h4 class="main_catalog_image-overlay_title">DESCRIPTION</h4>
              <p class="main_catalog_image-overlay-paragraph">Richly detailed with an understated design - the Police Men’s
                Greenlane
                watch.</p>
            </div>
            <div class="main_catalog_overlay_container-2">
              <h4 class="main_catalog_image-overlay_title">DETAILS & FEATURESTION</h4>
              <div class="main_catalog_image-overlay-paragraph_container">
                <span class="main_catalog_image-overlay-paragraph">Gender: man</span>
                <span class="main_catalog_image-overlay-paragraph">Size: 46x54.5mm</span>
                <span class="main_catalog_image-overlay-paragraph">Case Colour: Steel</span>
                <span class="main_catalog_image-overlay-paragraph">Band Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Case Material: Metal</span>
                <span class="main_catalog_image-overlay-paragraph">Features: Multifunction</span>
                <span class="main_catalog_image-overlay-paragraph">Water Resistant: 5 (ATM)</span>
                <span class="main_catalog_image-overlay-paragraph">Band Colour: Steel</span>
              </div>
            </div>
          </div>
      
        </div>
        <div class="main_catalog_item-description_container">
          <h3 class="main_catalog_item_title">Tube Watch S42 Date Steel With Black...</h3>
          <p class="main_catalog_item_description">€395</p>
        </div>
      </li>

    </ul>

    <div class="main_ctalog_buy-now_button_container">
      <button type="button" class="main_catalog_buy-now_button">BUY NOW</button>
    </div>

  </div>
</section>