<!-- Section 3 (Made in Heaven): TODO: Roxana Iliasi -->

<section class="section">
  <div class="container">
    <h2 class="new-watches-text">New watches</h2>
    <p class="title">Green And Bronze—The Match Made In Heaven</p>
    <ul class="new-watches-list list">
      <li class="new-watches-item">
        <img
          srcset="./images/5_section3/img1_section3_2x.jpg 2x"
          src="./images/5_section3/img1_section3_1x.jpg"
          alt="watch on hand"
          class="new-watches-page"
          width="576"
          height="472"
        />
      </li>
      <li class="new-watches-item">
        <img
          srcset="./images/5_section3/img2_section3_2x.jpg 2x"
          src="./images/5_section3/img2_section3_1x.jpg"
          alt="wrist watch on a dark background"
          class="new-watches-page"
          width="576"
          height="472"
        />
      </li>
    </ul>
  </div>
</section>
