<!-- Footer Section: TODO: Tanase Ion-Claudiu -->

<footer>


</footer>


<input type="checkbox" class="chk-modal-button" id="menu-modal" autocomplete="off"/>
<div class="modal-backdrop">
   
    <div class="modal">

        <div class="nav-menu-bar">

            <div class="logo-and-name">
                <a href="./index.html" class="logo-full">
                    <svg class="logo-svg">
                        <use href="./images/icons.svg#icon-logo"></use>
                      </svg>
                    <span class="logo-text">thewatchspot</span></a
                >
              </div>
      
              <label class="close-menu" for="menu-modal" id="close-menu">
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-burger_menu-close"></use>
                </svg>
            </label>
        </div>


        <ul class="modal-menu-list">
            <li class="modal-menu-item">
                <a class="modal-menu-link" href="./index.html">ABOUT US</a>
            </li>

            <li class="modal-menu-item">
             <a class="modal-menu-link" href="">CATALOG</a>
            </li>

            <li class="modal-menu-item">
                <a class="modal-menu-link" href="">SALE</a>
            </li>
          </ul>

    </div>
  </div>