<!-- footer Section: TODO: Tanase Ion-Claudiu -->
 <footer>
    
    <div class="footer-wrapper">

        <div class="logo-and-address">

            <svg class="logo-svg footer-logo">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>

            <address class="footer-address-wrapper">
                
                <a href="tel:+380684439426">+380 (68) 443-94-26</a>

                <p class="footer-address">
                    1678 S. Pioneer Road
                    <br>Salt Lake City
                    <br>UT 84104
                </p>

            </address>

        </div>

        <ul class="footer-menu-list">
            <li class="footer-menu-item">
                <a class="footer-menu-link" href="#about-us">ABOUT US</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link" href="#catalog">CATALOG</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link" href="#sale">SALE</a>
            </li>
            </ul>
        
        <ul class="footer-social-media-list">
            <li class="footer-social-media-item">
                <a class="footer-social-media-link" href="">
                    <svg class="footer-social-media-svg">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>         
            <li class="footer-social-media-item">
                <a class="footer-social-media-link" href="">
                <svg class="footer-social-media-svg">
                    <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
                </a>
            </li>
            <li class="footer-social-media-item">
                <a class="footer-social-media-link" href="">
                <svg class="footer-social-media-svg">
                    <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
                </a>
            </li>
        </ul>

        <div class="copyrights-and-legal">

            <p class="copyrights">
                ©2022 The Watch Spot. All rights reserved.
            </p>

            <div class="legal-notices">
                <a href="" class="footer-legal-notice">
                    Privacy Policy
                </a>
                <a href="" class="footer-legal-notice">
                    Terms of Service
                </a>
            </div>

        </div>

    </div>

</footer>


<input type="checkbox" class="chk-modal-button" id="menu-modal" autocomplete="off"/>
<div class="modal-backdrop">
   
    <div class="modal">

        <div class="nav-menu-bar">

            <div class="logo-and-name">
                <a href="" class="logo-full">
                    <svg class="logo-svg">
                        <use href="./images/icons.svg#icon-logo"></use>
                      </svg>
                    <span class="logo-text">thewatchspot</span></a
                >
              </div>
      
              <label class="close-menu" for="menu-modal" id="close-menu">
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-burger_menu-close"></use>
                </svg>
            </label>
        </div>


        <ul class="modal-menu-list">
            <li class="modal-menu-item">
                <a class="modal-menu-link" href="">ABOUT US</a>
            </li>

            <li class="modal-menu-item">
             <a class="modal-menu-link" href="">CATALOG</a>
            </li>

            <li class="modal-menu-item">
                <a class="modal-menu-link" href="">SALE</a>
            </li>
          </ul>

    </div>
  </div>

