<div class="modal-main_container">
  <div class="modal_inner-container">
    <div class="modal-main-item_container">
      <button type="button" class="btn-close-modal">
        <svg width="20" height="20" class="btn-close-icon">
          <use href="./images/icons.svg#icon-modal-close_btn"></use>
        </svg>
      </button>

      <div class="modal-item-image_container">
        <img src="./images/8_modala/modal-item1.png" alt="modal-item-image" class="modal-item-image">
      </div>

      <div class="modal-item-title_container">
        <p class="modal-item-title">Tube Watch S42 Date Steel With Black...</p>
        <p class="modal-item-price">€395</p>
      </div>
    </div>

    <form name="modal-form" autocomplete="off" class="modal-form">

      <div class="modal-form-element_container">
        <label class="modal-form-label" for="fullname">Full name</label>
        <input type="text" class="modal-form-input" id="fullname" name="fullname" placeholder="Enter your full name">
      </div>

      <div class="modal-form-element_container">
        <label class="modal-form-label" for="email">Email</label>
        <input type="text" class="modal-form-input" id="email" name="email" placeholder="Enter your email">
      </div>

      <div class="modal-form-element_container">
        <label class="modal-form-label" for="cardnumber">Card number</label>
        <input type="text" class="modal-form-input" id="cardnumber" name="cardnumber" placeholder="Enter card">
      </div>

      <div class="modal-form-comment_container">
        <label class="modal-form-label" for="user-comment">Comments</label>
        <textarea name="user-comment" id="user-comment" class="modal-form-comment"
          placeholder="Enter your text"></textarea>
      </div>

      <button type="submit" class="modal-form_submit-button">
        Submit
      </button>

      <p class="modal-submit_terms">By clicking on “Submit” button, you agree to our Privacy Policy, and allow Promodo
        to
        use this information for marketing purposes.</p>

    </form>
  </div>
</div>